* {
    margin: 0;
    padding: 0;
    background-color: #24252A;   
}

.container {
    /*margin-inline: auto;
    padding-inline: 2rem;*/
    max-width: 100%;
    background-color: #24252A;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  .5fr .08fr 1fr .2fr;
    grid-template-areas: 
    "main main"
    "shop shop"
    "product__grid product__grid"
    "footer footer"
    ;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
}

li, a, button {
    text-decoration: none;
    color: #edf0f1;
}

header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1em;
    background-color: #24252A;
    height: 10vh;
}

.logo{
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li{
    flex-shrink: 1;
    display: inline-block;
    padding: 0px 20px;
    width: min-content;
}


.nav__links li a {
    transition: all .3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.8)
}

main {
    background-image: url(./img/Eagle\ Nebula.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: main;
}

.stacked {
    display: grid;
    
}

.stacked > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.product__grid {
    display: grid;
    gap: .25rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-area: product__grid;
}

.card {
    /* controls the distance between the image and card info  */
    aspect-ratio: 1 / 1.25;
    
}

.card__content {
    background-color: white;
    align-self: end;
    margin: .5rem .5rem 2rem;
    padding: .5rem;
    box-shadow: 0 .25rem 1rem rgb(0 0 0 / .1);
}

.card__title {
    background-color: #edf0f1;
    font-size: 1.25rem;
    line-height: 1.1;
    color: #6D77DEff;
}

.card__price {
    background-color: #edf0f1;
    font-size: 1.75rem;
}

.card__descriptor {
    background-color: #edf0f1;
}

.card__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

@media (min-width: 60em) {
   .card.featured{
    grid-column: span 2;
    grid-row: span 2;
} 

.card.featured .card__img{
    aspect-ratio: 1 / 1;
}

.card.featured .card__title{
    font-size: 1.75rem;
}

}

.shop {
    background-color: #24252A;
    grid-area: shop;
}

.shop p{
    padding-left: 1rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: wheat;
    font-size: 1.75rem;
}

footer {
    display: grid;
    grid-template-columns: .8fr .5fr .5fr 2fr;
    grid-template-rows: .3fr 1fr /*.5fr*/;
    grid-template-areas: 
    "news__col2 about__col3 informed__col4 logo"
    "news__links about__links informed__links logo"
    /*". . . ."*/;
    background-color: black;
    grid-area: footer;
    grid-gap: .5em;
    
}

footer img{
    justify-self: end;
    background-color: black;
    grid-area: logo;
}

.footer__container{
    justify-content: space-between;
}

.footer__container ul {
    list-style: none;
    text-decoration: none;
}

.footer__container, .footer__container li{
    background-color: black;
}

.news__col2 {
    padding-left: 1rem;
    align-self: end;
    color: #0088a9;
    background-color: black;
    grid-area: news__col2;
}

.news__links{
    padding-left: 1rem;
    padding-bottom: 1rem;
    line-height: 2;
    background-color: black;
    grid-area: news__links;
}

.about__col3 {
    padding-left: 1rem;
    align-self: end;
    color: #0088a9;
    background-color: black;
    grid-area: about__col3;
}

.about__links {
    padding-left: 1rem;
    padding-bottom: 1rem;
    line-height: 2;
    background-color: black;
    grid-area: about__links;
}

.informed__col4 {
    align-self: end;
    color: #0088a9;
    background-color: black;
    grid-area: informed__col4;
}

.informed__links {
    padding-bottom: 1rem;
    line-height: 2;
    background-color: black;
    grid-area: informed__links;
}

.copyright {
    padding-left: 1rem ;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #0088a9;
}

img, picture{
    max-width: 100%;
    display: block;
}